@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Quicksand:wght@300;400;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Quicksand:wght@300;400;600;700&family=Roboto:wght@300;400;700;900&display=swap');



/* Variáveis */
:root {

    /*    CORES    */
    /* modo claro */
    --cor-primaria: #DB222A;
    --cor-secundaria: #053C5E;
    --cor-text: #03263B;

    /* FONTE */
    --font-title: 'roboto', sans serif;
    --font-body: 'roboto', sans-serif;

    /* FONT-SIZE */
    --font-size--h2: 1.8rem;
}

h1, h2, h3 {
    font-family: var(--font-title);
    font-weight: 700;
}


* {
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    font-weight: 400;
}

strong {
    font-weight: 700;
}

a {
    color: var(--cor-text);
    text-decoration: none;
}

ul li {
    list-style: none;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.logo {
    display: flex;
}

.logo img {
    height: 54px;
}

.header {
    background-color: #f0f0f0;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 160px;
}

.menu {
    display: flex;
}

.menu a {
    display: block;
    padding: 8px 16px;
    font-weight: 600;
    margin-right: 10px;
}

.menu a:hover {
    color: #DB222A;
}

.btn-menu {
    display: none;
    font-size: 20px;
}

.modal {
    display: none;
}

/*  B A N N E R */

.banner {
    background-image: url(/assets/img/banner2-escura.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: calc(100vh - 54px);
    background-attachment: fixed;
    background-color: #053C5E;
}  

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
    color: #fff;
}

.titulo h1 {
    position: relative;
    font-weight: 900;
    font-size: 4.5rem;
    text-transform: uppercase;
    color: var(--cor-secundaria);
    overflow: hidden;
}

.titulo h1:before {
    content: attr(data-text);
    position: absolute;
    border-right: 2px solid var(--cor-primaria);
    top: 0;
    left: 0;
    width: 100%;
    color: var(--cor-primaria);
    overflow: hidden;
    animation: animate .5s linear forwards;
    animation-delay: 1s;
    white-space: nowrap;
}

@keyframes animate {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.titulo h2 {
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 32px;
}

.btn-banner {
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 32px;
    background-color: #db222b00;
    border: 2px solid var(--cor-primaria);
    color: #fff;
    cursor: pointer;
}

.btn-banner:hover {
    background-color: #202020a1;
}

.btn-banner:active {
    background-color: #3f090b;
}

.titulo p {
    text-align: center;
    margin-top: 72px;
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 64px 0px;
    color: #03263B;
}

section h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: var(--font-size--h2);
}
 

.sobre img {
    background-attachment: fixed;
}



.container-section--sobre {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.sobre .img-local {
    background-image: url(/assets/img/local.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 700px;
    height: 500px;
    border-radius: 8px;
    margin-bottom: 24px;
    margin-right: 32px;
}

.sobre p {
    max-width: 380px;
    margin-bottom: 24px;
    line-height: 26px;
}

.line {
    width: 100px;
    height: 2px;
    background-color: #DB222A;
}

.container-sobre--text {
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
}

/* SERVIÇOS */

.container-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 32px;
}

.card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 280px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 1px 1px 15px #03253b3f;
    margin: 8px;
    transition: .3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: .3s;
    margin-bottom: 16px;
    box-shadow: 0px 1px 10px #053c5e70;
}

.card h3,
.card ul,
.tempo {
    display: block;
    width: 100%;
    padding-left: 16px;
    margin-bottom: 16px;
}

.card h3 {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 1.25rem;
}

.card ul {
    height: 120px;
    text-align: start;
    font-size: 0.9rem;
    margin-left: 16px;
    word-wrap: normal;
}

.card ul li {
    list-style: disc;
    word-wrap: normal;
}

.card p {
    display: block;
    font-size: 1 rem;
}

.tempo {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    white-space: nowrap;
}

.icon-timer {
    margin-right: 8px;
    color: #03263B;
    font-size: 20px;
}

/* CONTATO */

.contato {
    background-color: var(--cor-text);
    padding-bottom: 0px;
}

.contato h2 {
    color: #fff;
}

.container-contato {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.container-contato div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 60px;
    background-color: var(--cor-secundaria);
    border-radius: 8px;
    font-weight: 600;
    color: #fff;
    margin: 8px;
}

.container-contato div:hover {
    background-color: #124a6d;
}

.container-contato div i {
    font-size: 2.5rem;
    font-weight: 100;
}

.google-maps {
    width: 100%;
}

/* DÚVIDAS FREQUENTES */

.duvidasF {
    display: flex;
    justify-content: center;
}

.container-accordion {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.box-accordion {
    margin-bottom: 8px;
}

.accordion {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
    background-color: #124a6d;
    font-weight: 600;
    cursor: pointer;
}

.accordion span {
    font-weight: bold;
}

.label {
    display: block;
    background-color: #f0f0f0;
    color: #03263B;
    font-weight: 500;
    overflow: hidden;
    height: 0px;
    transition: .3s;
}

.label.active {
    height: auto;
    padding: 24px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #053C5E;
    height: 100px;
    text-align: center;
    color: #fff;
    line-height: 24px;
}


@media (max-width: 1024px) {
    .menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 54px;
        right: 0px;
        background-color: #e7e7e7;
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    .btn-menu {
        display: block;
    }

    .container-header {
        padding: 0px 20px;
    }

    .btn-menu {
        display: block;
    }

    .nav.active .menu {
        height: calc(100vh - 54px);
        visibility: visible;
    }
    .menu a {
        padding: 16px 16px;
    }

    .titulo h1 {
        font-size: 2.5rem;
    }

    .titulo h2 {
        font-size: 1.25rem;
    }

    .banner {
        background-position: bottom;
    }  

    .container-section--sobre {
        flex-wrap: wrap;
        width: 100%;
    }
    
    .sobre .img-local {
        height: 450px;
        margin-right: 0px;
    }

    .sobre .img-local {
        margin-bottom: 16px;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 290px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 1px 1px 15px #03253b3f;
        margin: 8px;
        transition: .3s;
        margin-bottom: 16px;
    }

    .card:hover {
        transform: none;
    }
}

.active {
    display: block;
}


@media (max-width: 768px) {
    .sobre .img-local {
        height: 300px;
    }
    
    .banner {
        background-position-y: 20px;
    }  

    .container-accordion {
        width: 100%;
        padding: 0px 16px;
    }

}